.bayan-container{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 40;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    font-size: x-large;

}

.bayan-container h1 {
    color:black;
}

.bayan-container label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: larger;
    cursor: pointer;
    
}

.bayan-container:hover {
    color: #c300ff;
}

.bayan-container input {
    display: none;
}

.bayan-inside {
    display: none;
}

.bayan-container label:before {
    content: '\2190';
    float: right;
}

.bayan-container input:checked + label:before {
    transition: transform .5s;
    transform: rotate(-90deg);
}





/*
@media (max-width: 321px) {
    .bayan-container{
     font-size: 3.5vw;
     cursor: auto;    
    }


}
*/
